{% extends 'base.html' %}

{% block body %}

{% for request in requests %}
<a href="{{ url_for('request', request_id=request.request_id) }}">
{{ request.title }}
</a>
<br>
{{ request.description }}<br>
{{ request.status }}<br>
-------
<br>

{% endfor %}

{% if requests.has_prev %}
    <a href="{{url_for('requests', page=requests.prev_num)}}">{{'<'}}</a>
{% endif %}
{% for number in requests.iter_pages() %}
    {% if requests.page != number %}
        <a href="{{ url_for('requests', page=number)}}">
        {{ number }}
        </a>
    {% else %}
        {{ number }}
    {% endif %}
    {% endfor %}

{% if requests.has_next %}
<a href="{{url_for('requests', page=requests.next_num)}}">{{'>'}}</a>
{% endif %}

<br>
{{requests.total}}

{% endblock %}