{% extends 'base.html' %}

{% block body %}

{% if user.id == current_user.id %}

Hi, {{ user.username }}!

<div class="single-card-box">
Email: {{ user.email }}<br>
Category: {{ user.category }}<br>
</div>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
Your Requests </button></h2>
<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
{% for request in requests %}
<div class="booked-container">
<a href="{{ url_for('request', request_id=request.request_id) }}">{{ request.title }}</a>
</div>
{% endfor %}
</div>
</div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
Your Characters</button></h2>
<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
    <div class="accordion-body">
{% for character in characters %}
<div class="booked-container">
<a href="{{ url_for('character', character_id=character.character_id)}}">
{{character.name}}
</a>
</div>
{% endfor %}
</div>
</div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
Your Comments</button></h2>
<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
    <div class="accordion-body">
{% for comment in comments %}
<div class="single-card-box">
<a href="{{ url_for('request', request_id=comment.request_id) }}">Go to request</a><br>
{{comment.text|safe}}
</div>
{% endfor %}

</div>
</div>
</div>

{% if current_user.category == "Writer"%}

<div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
Your Booked Requests </button></h2>
<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
    <div class="accordion-body">
{% for request in booked_requests %}
<div class="booked-container">
<a href="{{ url_for('request', request_id=request.request_id) }}">{{request.title}}</a>
{{ request.status }}
</div>

{% endfor %}

</div>
</div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
Your booked characters:</button></h2>
<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
    <div class="accordion-body">
{% for character in booked_characters %}
<div class="booked-container">
<a href="{{ url_for('character', character_id=character.character_id)}}">
    {{character.name}}
    </a>
    {{ character.status }}
</div>
    {% endfor %}
</div>
</div>
</div>
{% endif %}
    
<div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
    You rated these requests: </button></h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
        <div class="accordion-body">
    {% for rating in ratings %}
    <div class="booked-container">
    <a href="{{ url_for('request', request_id=rating.requests.request_id) }}">{{ rating.requests.title }}</a> {{ rating.score }}<br>
    </div>
    {% endfor %}
    </div>
    </div>
    </div>

    {% else %}

    Access denied.

    {% endif %}
    
    {% endblock %}